<html>

<head>
    <link rel="stylesheet" type="text/css" href="/templates/css/bootstrap.css">
    </link>
    <title>API - TotalVoice</title>
</head>
<body>
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-lg-8">
                    <img style="width: 40%;" src="https://api2.totalvoice.com.br/painel/img/logo-total-colorida.png"
                        alt="LogoTotalVoice">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Status dos Serviços</label>
                                <a href="/status" class="btn btn-primary btn-sm btn-block">Clique aqui!</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/valida_numero" method="POST">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Validar Número <small>(DDD + Telefone)</small></label>
                                    <input type="text" class="form-control" id="numero_destino" name="numero_destino"
                                        placeholder="Digite apenas numeros" pattern="[0-9]+" required="required" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>